language: php
php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - nightly

matrix:
  allow_failures:
    - php: 7.1
    - php: 7.2
    - php: nightly

before_script:
  - composer selfupdate
  - composer install --prefer-dist -o
