{
    "source": {
        "directories": ["src"]
    },
    "timeout": 3,
    "logs": {
        "text": "infection.txt"
    },
    "mutators": {
        "@default": true,
        "@function_signature": true
    },
    "minMsi": 93.28,
    "minCoveredMsi": 93.28,
    "testFrameworkOptions": "--testsuite=unit"
}
