{
    "source": {
        "directories": ["src"]
    },
    "timeout": 3,
    "logs": {
        "text": "infection.txt"
    },
    "mutators": {
        "@default": true,
        "@function_signature": true,
        "CastInt": {
            "ignore": [
                "Lcobucci\\JWT\\Signer\\Ecdsa\\MultibyteStringConverter::octetLength",
                "Lcobucci\\JWT\\Signer\\Ecdsa\\MultibyteStringConverter::readAsn1Integer"
            ]
        },
        "GreaterThan": {
            "ignore": [
                "Lcobucci\\JWT\\Signer\\Ecdsa\\MultibyteStringConverter::toAsn1",
                "Lcobucci\\JWT\\Signer\\Ecdsa\\MultibyteStringConverter::preparePositiveInteger",
                "Lcobucci\\JWT\\Signer\\Ecdsa\\MultibyteStringConverter::retrievePositiveInteger"
            ]
        },
        "InstanceOf_": {
            "ignore": [
                "Lcobucci\\JWT\\Signer\\OpenSSL::freeKey"
            ],
            "ignoreSourceCodeByRegex": [
                "assert\\(.+\\);"
            ]
        },
        "LessThanOrEqualTo": {
            "ignore": [
                "Lcobucci\\JWT\\Signer\\Ecdsa\\MultibyteStringConverter::preparePositiveInteger"
            ]
        },
        "LogicalNot": {
            "ignoreSourceCodeByRegex": [
                "if \\(!function_exists\\('sodium_\\w+'\\)\\) \\{"
            ]
        },
        "MBString": {
            "ignore": [
                "Lcobucci\\JWT\\Signer\\Ecdsa\\MultibyteStringConverter"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "Lcobucci\\JWT\\Signer\\OpenSSL::createSignature",
                "Lcobucci\\JWT\\Signer\\OpenSSL::verifySignature"
            ]
        }
    },
    "minMsi": 100,
    "minCoveredMsi": 100,
    "testFrameworkOptions": "--testsuite=unit"
}
