<?xml version="1.0"?>
<ruleset name="JWT style">
    <description>The coding standard for lcobucci/jwt.</description>

    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80" />
    <arg name="colors" />
    <arg value="np"/>

    <file>src</file>
    <file>test</file>

    <rule ref="PSR2"/>
</ruleset>
