parameters:
    level: 8 # not yet ready for all the `mixed` checks
    paths:
        - src
        - test

    ignoreErrors:
        - '#.*OpenSSLAsymmetricKey.*#'
        - '#Call to method .* of deprecated class Lcobucci\\JWT\\Signer\\Key\\LocalFileReference#'
