parameters:
    level: max
    paths:
        - src
        - test

    ignoreErrors:
        - '#.*OpenSSLAsymmetricKey.*#'
        - '#Call to method .* of deprecated class Lcobucci\\JWT\\Signer\\Key\\LocalFileReference#'
